
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #334e68;
    padding: 40px 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    color: #102a43;
    margin-bottom: 25px;
}



 .stats-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}