
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #334e68;
    padding: 40px 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    color: #102a43;
    margin-bottom: 25px;
}



 .stats-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card-label {
    font-size: 14px;
    color: #627d98;
    margin-bottom: 10px;
}

.card-value {
    font-size: 32px;
}

.text-green { color: #10b981; }
.text-red { color: #ef4444; }




.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bcccdc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.job-count {
    color: #627d98;
    font-size: 14px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.btn {
    padding: 8px 20px;
    border: 1px solid #d9e2ec;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    color: #627d98;
}

.btn.active {
    background-color: #3b82f6;
    color: white;
    border-color: #3b82f6;
}


.job-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.job-card-header {
    display: flex;
    justify-content: space-between;
}




h4 {
    color: #102a43;
    font-size: 18px;
    margin-bottom: 4px;
}

.job-role {
    color: #627d98;
    margin-bottom: 15px;
}

.job-info {
    font-size: 14px;
    color: #829ab1;
    margin-bottom: 15px;
}

.status-badge {
    background: #f0f4f8;
    color: #486581;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 15px;
}

.job-desc {
    font-size: 14px;
    line-height: 1.6;
    color: #486581;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn-outline {
    background: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btn-interview {
    border: 1px solid #10b981;
    color: #10b981;
}

.btn-rejected {
    border: 1px solid #ef4444;
    color: #ef4444;
}

.delete-btn {
    background: #f0f4f8;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    color: #627d98;
}
.delete-btn i {
  pointer-events: none;
}


